
@import './variables';
.add_house{
    .step-title{
        font-weight: 900;
        text-align: center;
        font-family: $font-primary;
        margin: 10px 0 20px 0;
    }
    h6{
        margin: 10px 0;
        font-weight: 600;
    }
    .small-info{
        background: #f5f5f5;
        padding: 10px;
        font-size: smaller;
        border-radius: 5px;
        margin-top: -10px;
    }
    label{
        margin: 10px 0;
        font-size: small;
    }
    .input-box{
        margin: 0 0 15px 0;
       // grid-column: ;
    }
    .change-step{
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: space-between;
    }
    #second-step{
        .house-type-bloc{
            input[type="radio"]{
                display: none;
            }
            label{
                display: inline-block;
                width: 100%;
                padding: 10px;
                text-align: center;
                margin: 5px auto;
                border: 1px dashed #eee;
                border-radius: 5px;
                transition: .5s;
                padding-left: 15px;
                word-wrap: break-word;
            }
            span:not(.check){
                position: relative;
                display: inline-block;
                width: 49%;
                margin: auto;
                .check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0px;
                    left: 5px;
                    background: #fff;
                    border: 2px solid #f5f5f5;
                    border-radius: 3px;
                    width: 15px;
                    height: 15px;
                    font-size: 10px;
                    color: #fff;
                    i{
                        visibility: hidden;
                    }
                }
                input:checked + label{
                    background: #f1f7ff;
                    border: 1px solid #008cff;
                    & + .check{
                        border-color: #008cff;
                        background: #008cff;
                        i{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .feature-list{
        padding: 0 20px;
        li{
            display: inline-block;
            margin: 0 10px;
        }
        label{
            font-size: medium;
        }
    }
    #last-step{
        .image-list{
            li.image-item{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px dashed #eee;
                width: 100%;
                height: 250px;
                position: relative;
                .text{
                    text-align: center;
                    i{
                        font-size: 2.5em;
                    }
                }
                input{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #finished{
       .flex-bloc{
           display: flex;
           justify-content: center;
           align-items: center;
            min-height: 300px;
       }
        .text{
            text-align: center;
            p{
                line-height: .9em;
            }
            i{
                display: block;
                font-size: 3em;
                color: #00b144;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 680px) {
    #second-step{
        label{
            //width: 60% !important;
        }
    }
}