
@import './variables';
.add_house{
    position: relative;
    .step-title{
        font-weight: 900;
        text-align: center;
        font-family: $font-primary;
        margin: 10px 0 20px 0;
    }
    h6{
        margin: 10px 0;
        font-weight: 600;
    }
    .small-info{
        background: darken($color-primary, 4%);
        padding: 10px;
        font-size: smaller;
        border-radius: 5px;
        margin-top: -10px;
    }
    label{
        margin: 10px 0;
        font-size: small;
    }
    .input-box{
        margin: 0 0 15px 0;
       // grid-column: ;
    }
    .change-step{
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: space-between;
    }
    #second-step{
        .house-type-bloc{
            /*----Type de maison -----*/
            input[type="radio"]{
                display: none;
            }
            label{
                display: inline-block;
                width: 100%;
                padding: 10px;
                text-align: center;
                margin: 5px auto;
                border: 1px dashed darken($color-primary, 5%);
                border-radius: 5px;
                transition: .5s;
                padding-left: 15px;
                word-wrap: break-word;
            }
            span:not(.check){
                position: relative;
                display: inline-block;
                width: 49%;
                margin: auto;
                .check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0px;
                    left: 5px;
                    background: $color-primary;
                    border: 2px solid darken($color-primary, 4%);
                    border-radius: 3px;
                    width: 15px;
                    height: 15px;
                    font-size: 10px;
                    color: $color-primary;
                    i{
                        visibility: hidden;
                    }
                }
                input:checked + label{
                    background: mix($color-primary, $color-one, 90%);
                    border: 1px solid $color-one;
                    & + .check{
                        border-color: $color-one;
                        background: $color-one;
                        i{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .feature-list{
        padding: 0 20px;
        li{
            display: inline-block;
            margin: 0 10px;
        }
        label{
            font-size: medium;
        }
    }
    #last-step{
        .loader-input-list{
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0;
                margin: 5px 0;
                border-radius: 7px;
                border: 1px dashed darken($color-primary, 5%);
                width: 450px;
                height: 250px;
                position: relative;
                font-size: small;
                overflow: hidden;
                .default-text,
                .preview-image,
                input
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
                .default-text{
                    flex-direction: column;
                    span{
                        margin: 5px 0;
                        &.download-icon {
                            font-size: 2.5em;
                        }
                    }
                }
                .preview-image img[src=""]{
                    visibility: hidden;
                }
                input{
                    opacity: 0;
                }
                .cancel-btn{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 99;
                    display: none;
                    button{
                        background: rgba(0, 0, 0, 0.3);
                        width: 30px;
                        height: 30px;
                        border: 1px solid rgba(238, 238, 238, 0.212);
                        border-radius: 50%;
                        color: $color-primary;
                    }
                }
                &.filled{
                    .cancel-btn{
                        display: block;
                    }
                    .default-text{
                        visibility: hidden;
                    }
                }
            }
        }
    }
    #finished{
       .flex-bloc{
           display: flex;
           justify-content: center;
           align-items: center;
            min-height: 300px;
       }
        .text{
            text-align: center;
            p{
                line-height: .9em;
            }
            i{
                display: block;
                font-size: 3em;
                color: #00b144;
                margin-bottom: 20px;
            }
        }
    }
}
#file-error{
    position: fixed;
    bottom: calc(0% + 20px);
    left: 20px;
    padding: 10px;
    background: #ffcfcf;
    border-radius: 7px;
    border: 1px solid #ff7f7f;
    box-shadow: 0px 0px 5px 3px $color-shadow;
    font-size: small;
    transform: translateY(30%);
    opacity: 0;
    transition: .5s;
    //color: #ff3d3d;
    p{
        display: none;
        margin: 0;
    }
    &.error{
        transform: translateY(0);
        opacity: 1;
    }
    &.type{
        .type-error{
            display: block;
        }
    }
    &.size{
        .size-error{
            display: block;
        }
    }
}