//For contact.html & about.html

.contact-page-content, .about-page-content{
    .head-title{
        background: $color-two;
        color: $color-primary;
        padding: 7px 10px;
        border-radius: 5px;
    }
}
.about-page-content{
    .about-links-list{
        margin-right: 20px;
        display: block;
        .nav-item{
            margin: 10px;
        }
        .nav-link{
            border-radius: 5px;
            background: transparent;
            color: $inzu-text;
            @include transition();
            &:hover, &.active{
                background: darken($color-primary, 8%);
            }
        }
    }
}