//For error pages
@import './variables';

.error-page{
    @include flex(center, center);
    .error-text{
        p{
            &:first-child{
                font-weight: bold;
                font-size: 2em;
                color: lighten($inzu-text, 20%);
            }
            &:last-child{
                color: $inzu-text;
            }
        }
    }
    .error-title{
        font:{
            size: 3.5em;
            weight: bold;
            family: $font-secondary;
        }
        
        line-height: .85em;
    }
}
@media (max-width: 768px) {
    .error-text{
        text-align: center;
    }
}