//For find_house.html
@import './variables';

.filter-nav{
    width: 100%;
    min-height: 60px;
    background: darken($color-primary, 5%);
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    .filter-list{
        margin: 0;
        display: flex;
        justify-content: space-around;
       & > li{
            display: inline-block;
            position: relative;
            margin-right: 3px;
            button{
                width: 100%;
                display: block;
                background: $color-primary;
                margin: 5px 3px;
                padding: 8px 20px;
                text-align: center;
                border: 1px solid darken($color-primary, 15%);
                border-radius: 5px;
                font-size: .9em;
                min-width: 100px;
                color: $inzu-text;
                &.js-modal-open{
                    background: $color-one;
                    color: $color-primary;
                }
            }
            @keyframes fadeIn {
                from{
                    transform: scale(0.5,0.5);
                    opacity: 0;
                }
                to{
                    transform: scale(1,1);
                    opacity: 1;
                }
            }
            .popup{
                position: absolute;
                z-index: 9;
                min-width: 300px;
                background: $color-primary;
                border-radius: 10px;
                box-shadow: 0 0 10px 1px $color-shadow;
                padding: 10px;
                opacity: 1;
                animation: fadeIn 0.3s ease-in;
                &--type li{
                    display: block;
                    margin: 10px 0;
                }
                &[data-hidden=true]{
                    display: none;
                }
                &--beds{
                    ul{
                        display: flex;
                        flex-wrap: nowrap;
                    }
                    label{
                        min-width: 50px;
                        text-align: center;
                        background: darken($color-primary, 4%);
                        padding: 8px 5px;
                        margin: 0 1px;
                        transition: .6s;
                        cursor: pointer;
                        &:hover{
                            background: darken($color-primary, 5%);
                        }
                    }
                    input{
                        display: none;
                        &:checked{
                            &+label{
                                background: $color-two;
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .filter-container{
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }
}

.view-mode-change{
	background: darken($color-primary, 4%);
	height: max-content;
	border-radius: 25px;
	padding: 3px;
    position: relative;
    width: max-content;
    border: 1px solid darken($color-primary, 5%);
    color: $inzu-text;
    input{
        display: none;
        &:checked + label{
            color: $color-primary;
        } 
    }
    label{
        transform: perspective(1px);
        display: inline-block;
        position: relative;
        padding: 10px 15px;
        border-radius: 20px;
        transition: ease-in .6s;
        margin : 0;
        cursor: pointer;
        &::before{
            position: absolute;
            display: block;
            content: "";
            bottom: 0;
            top: 0;
            left: 0;
            right : 0;
            padding: 10px 15px;
            border-radius: 20px;
            background: $color-two;
            transition: transform .3s;
            visibility: hidden;
            box-shadow: 0px 0px 5px darken($color-shadow, 10%);
        }
    }
    #view-mode-map + label::before{
        transform: translateX(-100%);
    }
    #view-mode-list + label::before{
        transform: translateX(100%);
    }
    #view-mode-map:checked + label::before, #view-mode-list:checked + label::before{
        transform: translateX(0%);
        z-index: -1;
        visibility: visible;
    }
}
.find-section{
    .houses-container{
        justify-content: start;
    }
    .houses-side{
        .house-item{
            margin: 10px 0;
        }
    }
}
.more-filter-modal{
    .more-filter-container{
        .filter-item{
            display: grid;
            grid-template-columns: 30% 1fr;
            align-items: center;
            margin: 10px 0;
            width: 100%;
            &>label{
                font-weight: bold;
            }
            .input-box-container{
                display: flex;
                .input-box{
                    width: 100%;
                }
            }
            // &>span{
            //    width: 60%;
            // }
            &.hasList{
                align-items: flex-start;
            }
        }
    }
}
@media (max-width: 768px) {
    .filter-nav{
        grid-template-columns: 1fr 1fr;
        .filter-list{
            // Tous les boutons qui n'ont pas la classe .invisible-lg seront invisibles sur mobile
            li:not(.invisible-md){
                display: none;
            }
            // Le bouton qui filtre sur les mobiles
            .mobile-filter-btn{
                margin-left: auto;
            }
        }
    }
}