//For find_house.html
@import './variables';

.filter-nav{
    width: 100%;
    min-height: 60px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    .filter-list{
        margin: 0;
        li{
            display: inline-block;
            position: relative;
            button{
                display: block;
                background: #fff;
                margin: 5px 3px;
                padding: 8px 20px;
                text-align: center;
                border: 1px solid #ddd;
                border-radius: 5px;
                font-size: .9em;
                min-width: 100px;
                color: #666;
            }
            .popup{
                position: absolute;
                z-index: 9;
                min-width: 300px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.123);
                padding: 10px;
                &--type li{
                    display: block;
                    margin: 10px 0;
                }
                &[data-hidden=true]{
                    display: none;
                }
                &--beds{
                    ul{
                        display: flex;
                        flex-wrap: nowrap;
                    }
                    label{
                        min-width: 50px;
                        text-align: center;
                        background: #f5f5f5;
                        padding: 8px 5px;
                        margin: 0 1px;
                        transition: .6s;
                    }
                    input{
                        display: none;
                        &:checked{
                            &+label{
                                background: #ffb400;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .filter-container{
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }
}

.view-mode-change{
	background: #f5f5f5;
	height: max-content;
	border-radius: 25px;
	padding: 3px;
    position: relative;
    width: max-content;
    border: 1px solid #eee;
    color: #666;
    input{
        display: none;
        &:checked + label{
            color: #fff;
        } 
    }
    label{
        transform: perspective(1px);
        display: inline-block;
        position: relative;
        padding: 10px 15px;
        border-radius: 20px;
        transition: ease-in .6s;
        margin : 0;
        cursor: pointer;
        &::before{
            position: absolute;
            display: block;
            content: "";
            bottom: 0;
            top: 0;
            left: 0;
            right : 0;
            padding: 10px 15px;
            border-radius: 20px;
            background: #ffb400;
            transition: transform .3s;
            visibility: hidden;
            box-shadow: 0px 0px 10px #d6d6d6;
        }
    }
    #view-mode-map + label::before{
        transform: translateX(-100%);
    }
    #view-mode-list + label::before{
        transform: translateX(100%);
    }
    #view-mode-map:checked + label::before, #view-mode-list:checked + label::before{
        transform: translateX(0%);
        z-index: -1;
        visibility: visible;
    }
}
.find-section{
    .houses-container{
        justify-content: start;
    }
    .houses-side{
        .house-item{
            margin: 10px 0;
        }
    }
}
