@import './variables.scss';

//index.html
header {
    background: url('../assets/images/bg1.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    .banner {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(15%);
        .banner-form {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
            border-top: 3px solid #ffb400;
        }
        &-text h3 {
            font-weight: bold;
            color: #fff;
        }
    }
}

#town-slider {
    .slide-img img {
        border-radius: 25px; 
    }
    .slide-text{
        position: absolute;
        bottom: 15px;
        left: 30px;
        color: white;
        h6{
            font-weight: bolder;
            font-size: 1.1em;
            margin: 0;
        }
        p{
            
            //text-transform: uppercase;
            font-size: smaller;
        }
        
    }
    .splide__slide .link:hover {
        img {
            @include transition;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
        }
    }
    .town-item{
        position: relative;
        .slide-img{
            position: relative;
            display: block;
            margin: 20px 0;
            &::before{
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
            }
        }
    }
}

.advantages{
    min-height: 400px;
    background: #f7f7f7;
    h5{
        color: #ffb400;
        text-transform: uppercase;
        font-weight: bold;
    }
    .advantages-item{
        margin: 10px 0;
        h5{
            text-transform: initial;
        }
        .img {
            position: relative;
            display: inline-block;
            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 0%;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: #008cff2c;
            }
            svg{
                width: 50px;
                fill: #008eb3;
                margin-bottom: 20px;
            }
        }
    }
}
.announce-banner{
    min-height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
    }
    .text{
        color:#666;
        height: max-content;
        align-self: center;
        h4{
            font-weight: 900;
            margin-bottom: 10px;
        }
        p{
            
        }
    }
}
