@import './variables.scss';

//index.html
header {
    background: url('../assets/images/bg3.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    .banner {
        min-height: 400px;
        @include flex(initial, center);
        flex-direction: column;
        transform: translateY(15%);
        .banner-form {
            background: $color-primary;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 1px lighten($color-shadow, 45%);
            border-top: 3px solid $color-two;
        }
        &-text h3 {
            font-weight: bold;
            color: $color-primary;
        }
    }
}

#town-slider {
    .slide-img img {
        border-radius: 25px; 
    }
    .slide-text{
        position: absolute;
        bottom: 15px;
        left: 30px;
        color: $color-primary;
        h6{
            font-weight: bolder;
            font-size: 1.1em;
            margin: 0;
        }
        p{
            
            color: $color-primary;
            font-size: smaller;
        }
        
    }
    .splide__slide .link:hover {
        img {
            @include transition;
            box-shadow: 0px 0px 10px 1px $color-shadow;
        }
    }
    .town-item{
        position: relative;
        .slide-img{
            position: relative;
            display: block;
            margin: 20px 0;
            &::before{
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
            }
        }
    }
}

.advantages{
    min-height: 400px;
    background: darken($color-primary, 4%);
    h5{
        color: $color-two;
        text-transform: uppercase;
        font-weight: bold;
    }
    .advantages-item{
        margin: 10px 0;
        h5{
            text-transform: initial;
        }
        .img {
            position: relative;
            display: inline-block;
            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 0%;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background:transparentize($color-one, .8);
            }
            svg{
                width: 50px;
                fill: lighten($color-one, 10%);
                margin-bottom: 20px;
            }
        }
    }
}
.announce-banner{
    min-height: 400px;
    padding: 15px 10px;
    background: #091e48;
    @include flex(center, center);
    img{
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
    }
    .text{
        color:#666;
        height: max-content;
        align-self: center;
        h4{
            font-weight: 900;
            margin-bottom: 10px;
            color: $color-primary;
        }
        p{
            color: darken($color: $color-primary, $amount: 20%);
        }
    }
}
