//For login.html & sign_up.html

/*-----------Import---stylesheets---------*/
    
@import './variables.scss';

/*----------------------------------------*/


.login-form-container{
    a{
        text-decoration: underline;
    }
    padding: 30px 0 0 0;
    h5{
        font-weight: bold;
    }
    .licence-warning{
        font-size: small;
    }
    #loginPhoneEmail{
        .phone-input{
            display: none;
        }
        &.mode-phone{
            .email-input{
                display: none;
            }
            .phone-input{
                display: block;
            }
        }
    }
}

.forget-password{
    a{
        text-decoration: underline;
    }
}

.connection-options-1{
    .btn{
        border: 2px solid #c9c9c9;
        @include transition();
        color: #666;
        img{
            width: 15px;
        }
        i{
            color: #3b5998;
        }
        &:hover{
            border-color: #0a91df;
            background: #008cff1a;
        }
    }
}
.connection-options-2{
    .item{
        margin: 0 10px; 
    }
}