//For login.html & sign_up.html

/*-----------Import---stylesheets---------*/
    
@import './variables.scss';

/*----------------------------------------*/


.login-form-container{
    a{
        text-decoration: underline;
    }
    padding: 30px 0 0 0;
    h5{
        font-weight: bold;
    }
    .login-form{
        background: #fff;
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 20px 35px;
        box-shadow: 0px 0px 20px #f3f3f3;
    }
    .licence-warning{
        font-size: small;
    }
}

.forget-password{
    a{
        text-decoration: underline;
    }
}

.connection-options-1{
    .btn{
        border: 2px solid #c9c9c9;
        @include transition();
        color: #666;
        img{
            width: 15px;
        }
        i{
            color: #3b5998;
        }
        &:hover{
            border-color: #0a91df;
            background: #008cff1a;
        }
    }
}
.connection-options-2{
    .item{
        margin: 0 10px; 
    }
}