//For login.html & sign_up.html

/*-----------Import---stylesheets---------*/
    
@import './variables.scss';

/*----------------------------------------*/


.login-form-container{
    a{
        text-decoration: underline;
    }
    padding: 30px 0 0 0;
    h5{
        font-weight: bold;
    }
    .licence-warning{
        font-size: small;
    }
    #loginPhoneEmail{
        .phone-input{
            display: none;
        }
        &.mode-phone{
            .email-input{
                display: none;
            }
            .phone-input{
                display: block;
            }
        }
    }
}

.forget-password{
    a{
        text-decoration: underline;
    }
}

.connection-options-1{
    .btn{
        border: 2px solid darken($color-primary, 15%);
        color: $inzu-text;
        @include transition();
        img{
            width: 15px;
            vertical-align: sub;
        }
        &.facebook-btn i{
            color: #3b5998;
        }
        &:hover{
            border-color: $color-one;
            background: mix($color-primary, $color-one, 90%);
        }
    }
}
.connection-options-2{
    .item{
        margin: 0 10px; 
    }
}