/*-------------Variables------------------*/
@font-face{
    src: url('../font/FontsFree-Net-SFProDisplay-Regular.ttf');
    font-family: 'font-wow';
}

$font-primary: 'Nunito',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
$font-third: 'Montserrat',
sans-serif;
$font-fourth: 'Work Sans', sans-serif;
/*-----------------------------------------*/


/*------------Mixins---------------------*/

@mixin transition {
    transition: all ease .6s;
}


/*----------------------------------------*/