    /*-----------Import---stylesheets---------*/
    
    @import './variables';
    @import './normalize';
    @import './index';
    @import './login';
    @import './contact_about';
    @import './error';
    @import './house';
    @import './find_house';
    @import './add_house';
    @import './multi-steps-form';
    /*----------------------------------------*/
    
    html,
    body {
        font-size: 15px;
        color: $inzu-text;
        height: 100%;
        font-family: $font-primary !important;
    }
    a,
    a:hover,
    a:active {
        text-decoration: none !important;
        &.link{
            color: $inzu-text;
            &:hover{
                color: darken($inzu-text, 5%);
            }
        }
    }
    *{
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            background-color: darken($color-primary, 5%); 
            padding: 0 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: darken($color-primary, 25%); 
            border-radius: 10px;
        }
    }
    body{
        &.marged{
            padding-top: 80px;
            background: darken($color-primary, 3%);
        }
        &.no-scroll{
            overflow: hidden;
        }
    }
    .flex-bloc{
        background: $color-primary;
        border: 1px solid darken($color-primary, 5%);
        border-radius: 10px;
        padding: 20px 35px;
        box-shadow: 0px 0px 20px lighten($color-shadow, 60%);
        margin: auto;
    }
    .full-w{
        width: 100%;
    }
    .full-h{
        height: 100%;
    }
    .btn {
        @include transition();
        &.btn-wow {
            background: $color-primary;
            color: $color-one;
            box-shadow: 0px 0px 10px 1px $color-shadow;
            &:hover {
                background: $color-one;
                color: $color-primary;
            }
            &.reverse{
                background: $color-one;
                color: $color-primary;
                &:hover{
                    background: $color-primary;
                    color: $color-one;
                }
            }
        }
        &.btn-blind {
            background: linear-gradient($color-two, mix($color-two, red, 80%));
            color: $color-primary;
            font-weight: bold;
            display: block;
            padding: 6px 20px;
            border-radius: 5px;
            &:hover {
                color: transparentize($color-primary, .3);
            }
        }
        &.btn-bw{
            font-size: small;
            border: 1px solid $inzu-text;
            color: $inzu-text;
            padding: 3px 15px;
            &:hover {
                border: 1px solid $color-one;
                color: $color-one;
            }
        }
    }
    //SplideJs

    .splide__arrow{
        background: $color-primary;
        box-shadow: 0px 0px 10px $color-shadow;
        opacity: 0.6;
        svg{
            width: .9em;
            height: 9em;
        }
    } 
    //input-box
    .input-box {
        display: block;
        margin: 5px;
        border: 1px solid darken($color-primary, 5%);
        padding: 10px;
        background: $color-primary;
        border-radius: 5px;
        color: $inzu-text;
        &.gray{
            background: darken($color-primary, 5%);
        }
        input, textarea {
            border: none;
            background: transparent;
            width: 100%;
            display: block;
        }
        &:focus-within {
            border-color: $color-two;
            box-shadow: 0px 0px 10px darken($color-primary, 5%);
            @include transition();
        }
        //Pour les champs avec icône
        &.grid {
            display: grid;
            grid-template-columns: 1fr 20%;
            //Icône à droite
            &.reverse {
                grid-template-columns: 20% 1fr;
            }
            button{
                background: transparent;
                border: none;
                color: $inzu-text;
            }
        }
    }
    
    //radio input
    input[type="radio"].radio-wow {
        display: none;
        & + label {
            position: relative;
            padding-left: 1.3rem;
            line-height: 1em;
            &::before, &::after{
                display: block;
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                left: 0;
                content:'';
                width: 1rem;
                height: 1rem; 
                border-radius: 100%;
            }
            &::before{
                border: 2px solid darken($color-primary, 10%);
                background: darken($color-primary, 3%);
            }
        }
        &:checked + label::before{
            border: 4px solid $color-two;
        }
    }
    //checkbox input

    input[type="checkbox"].check-wow{
        visibility: hidden;
        position: relative;
        margin-top: 2px;
        vertical-align: text-top;
        width: 1em;
        height: 1em;
        & + label{
            margin-left: 5px;
        }
        &:before{
            visibility: visible;
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid darken($color-primary, 5%);
            border-radius: 3px;
            transition: .5s;
        }
        &:checked::before{
            background: $color-one;
            border: 2px solid $color-one;
            box-shadow: 0px 3px 5px darken($color-primary, 5%);
            line-height: 1em;
        }
    }

    //Quantity input
    .quantity-input-container{
        width: 100px;
    }
    .quantity-input{
        display: grid;
        grid-template-columns: 25px 1fr 25px;
        width: 100%;
        button{
            display: block;
            background: darken($color-primary, 7%);
            border: none;
            width: 25px;
            height: 25px;
            transition: .5s;
            font-size: smaller;
            color: $inzu-text;
            &:disabled{
                opacity: 0.5;
            }
        }
        button:not(:disabled){
            &:hover{
                background: darken($color-primary, 15%);
            }
        }
        input{
            border: 1px solid darken($color-primary, 5%);
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }
    //Header
    header {
        nav{
            box-shadow: 0px 0px 10px $color-shadow ;
            a{
                position: relative;
                color: $inzu-text !important;
                &.nav-link{
                    &::after{
                        content: " ";
                        display: block;
                        position: absolute;
                        width: 0;
                        margin: 5px 0;
                        border-top: 2px solid transparentize($inzu-text, .7);
                        @include transition();
                    }
                }
                &:hover::after{
                    width: 40%;
                }
            }
            &.navbar-dark{
                box-shadow: none ;
                a{
                    color: $color-primary !important;
                }
                .nav-link {
                    &::after{
                        border-top-color: transparentize($color-primary, .7);
                    }
                }
            }
            .navbar-brand {
                font: {
                    family: $font-third;
                    weight: bolder;
                    size: 2em;
                }
            }
            .nav-item {
                padding: 3px 10px;
                margin: 0 10px;
                @include transition();
                .nav-item{
                    &:hover,
                    &.active {
                       font-weight: bold
                    }
                }
            }
            .navbar-toggler {
                color: $color-primary !important;
                border: none;
            }
            .navbar-button {
                .nav-btn-item {
                    display: inline-block;
                    margin: 0 10px;
                }
                .nav-login {
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    border-radius: 200px;
                    background: $color-primary;
                    padding: 5px;
                    font-size: 14px;
                    @include transition();
                    &:hover {
                        background: $color-one;
                        color: $color-primary;
                        .i {
                            background: $color-primary;
                            color: $color-one;
                        }
                    }
                }
                .i {
                    width: 30px;
                    height: 30px;
                    background: $color-one;
                    border-radius: 100%;
                    display: grid;
                    text-align: center;
                    place-items: center;
                    color: $color-primary;
                }
                span.text {
                    margin: auto;
                    padding: 0 5px;
                }
            }
            .mobile-btn-container {
                @include flex(initial, center)
            }
            .mobile-nav-btn {
                justify-self: end;
                a,
                button {
                    color: $color-primary;
                }
                span {
                    margin: 0 10px;
                }
            }
        }
    }
    
    .house-item {
        padding: 20px 10px;
        .link{
            display: block;
            box-shadow: 0px 2px 20px -5px $color-shadow;
            background: $color-primary;
            border-radius: 10px;
            overflow: hidden;
            @include transition;
            &:hover{
                box-shadow: 0px 3px 10px 1px lighten($color-shadow, 10%);
                border-color: $color-two;
            }
        }
        .item-info {
            padding: 10px 15px;
            position: relative;
            display: grid;
            grid-template-rows: 1fr max-content;
            h6 {
                span {
                    display: inline-block;
                    margin: 0 0px;
                    &.town {
                        font-weight: bold;
                    }
                    &.type {
                        &:before {
                            display: inline-block;
                            content: "•";
                            margin: 0 5px;
                        }
                    }
                }
            }
            .house-description{
                padding: 5px;
                display: block;
                p{
                    color: lighten($color: $inzu-text, $amount: 20%);
                    font-size: small;
                    margin: 0;
                }
            }
            .price{
                color: $color-primary;
                margin: 10px 5px;
                background: #05c566;
                display: block;
                padding: 3px 10px;
                border-radius: 5px;
                font:{
                    size: medium;
                    weight: bolder;
                }
            }
            .short-info{
                display: block;
                padding: 0 5px;
                font-size: .9em;
                ul {
                    @include flex(space-between, initial);
                }
                .more-info-shower{
                    border: none;
                    color: $inzu-text;
                }
            }
        }
        .splide__arrow{
            visibility: hidden;
            transition: 0.6s;
        }
        .splide:hover{
            .splide__arrow{
                visibility: visible;
            }
        }
    }
    footer{
        min-height: 300px;
        background: darken($color-primary, 3%);
        border-top: 1px solid darken($color-primary, 10%);
        .footer-container{
           .body{
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               justify-items: center;
               .links-list{
                .list-head{
                    margin: 15px 0;
                    font-weight: bold;
                }
                .link-item{
                    a{
                        color: $inzu-text;
                    }
                    margin: 5px 0;
                }
            }
           }
           .feet{
                @include flex(space-between, initial);
                border-top: 1px solid darken($color-primary, 10%);
           }
           .social-links-list{
               li{
                   display: inline-block;
                   margin: 0 10px;
               }
           }
           
        }
    }
    
    @media (max-width: 992px) {
        nav { 
            background-color: $color-shadow;
            backdrop-filter: blur(5px);
            .nav-item{
                margin: 5px 0 !important;
            }
            .navbar-toggler{
                .text{
                    font-size: 15px;
                }
            }
            &.navbar-light{
                .mobile-btn-container button{
                    color: $inzu-text !important;
                }
            }
        }
        /*Invisible pour les pétits écrans*/
        .invisible-sm {
            display: none !important;
        }

        footer{
            .footer-container{
               .body{
                   display: block;
                   .links-list{
                       margin: 10px 0;
                   }
                }
            }
        }

    }
    
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            justify-content: space-between;
            align-items: center;
        }
        /*Invisible pour écran large*/
        .invisible-lg {
            display: none !important;
        }
    }
    @media (min-width: 768px) {
        /*Invisible pour écran moyen*/
        .invisible-md {
            display: none !important;
        }
    }
    
    @media (max-width: 680px) {
        /*Bloc au milieu d'une page grise*/
        .flex-bloc{
            padding: 20px 25px;
        }   
    }