    /*-----------Import---stylesheets---------*/
    
    @import './variables.scss';
    @import './normalize.scss';
    @import './index.scss';
    /*----------------------------------------*/
    /*-----------Import---fonts---------*/
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    /*---------------------------------*/
    
    html,
    body {
        font-family: $font-secondary;
        font-size: 15px;
        color: #666;
    }
    .full-w{
        width: 100%;
    }
    .btn {
        @include transition();
        &.btn-wow {
            background: #fff;
            color: #2b8af7;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.151);
            &:hover {
                background: #2b8af7;
                ;
                color: #fff;
            }
        }
        &.btn-blind {
            background: #ffb400;
            color: #fff;
            font-weight: bold;
            display: block;
            padding: 6px 20px;
            border-radius: 30px;
            &:hover {
                background: #eba400;
            }
        }
    }
    
    //input-box
    .input-box {
        input {
            border: none;
            background: transparent;
            width: 100%;
            display: block;
        }
        display: block;
        margin: 5px;
        border: 1px solid #eee;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        color: #666;
        &:focus-within {
            border-color: #ffb400;
        }
        //Pour les champs avec icône
        &.grid {
            display: grid;
            //Icône à droite
            &.right {
                grid-template-columns: 1fr 50px;
            }
        }
    }
    
    //Header
    header {
        nav{
            &.navbar-light{
                .nav-link{
                    color: #666 !important;
                }
                .nav-item{
                    &:hover,
                    &.active {
                        background-color: rgba(8, 8, 8, 0.055);
                    }
                }
            }
            .navbar-brand {
                font: {
                    family: $font-third;
                    weight: bolder;
                    size: 2em;
                }
            }
            .nav-item {
                padding: 3px 10px;
                margin: 0 10px;
                @include transition();
                &:hover,
                &.active {
                    background-color: rgba(255, 255, 255, .3);
                    border-radius: 50px;
                }
            }
            .navbar-toggler {
                color: #fff !important;
                border: none;
            }
            .navbar-button {
                .nav-btn-item {
                    display: inline-block;
                    margin: 0 10px;
                }
                .nav-login {
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    border-radius: 200px;
                    background: #fff;
                    padding: 5px;
                    font-size: 14px;
                    @include transition();
                    &:hover {
                        background: #2b8af7;
                        color: #fff;
                        .i {
                            background: #fff;
                            color: #2b8af7;
                        }
                    }
                }
                .i {
                    width: 30px;
                    height: 30px;
                    background: #2b8af7;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                span.text {
                    margin: auto;
                    padding: 0 5px;
                }
            }
            .mobile-btn-container {
                display: flex;
                align-items: center;
            }
            .mobile-nav-btn {
                justify-self: end;
                a,
                button {
                    color: #fff;
                }
                span {
                    margin: 0 10px;
                }
            }
        }
    }
       
    
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            justify-content: space-between;
            align-items: center;
        }
        .invisible-lg {
            display: none !important;
        }
    }
    
    @media (max-width: 992px) {
        nav {
            background-color: rgba(255, 255, 255, 0.288);
            .nav-item{
                margin: 5px 0 !important;
            }
        }
        .invisible-sm {
            display: none !important;
        }
    }