    /*-----------Import---stylesheets---------*/
    
    @import './variables.scss';
    @import './normalize.scss';
    @import './index.scss';
    @import './login.scss';
    @import './contact_about.scss';
    @import './error';
    @import './house';
    /*----------------------------------------*/
    /*-----------Import---fonts---------*/
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    /*---------------------------------*/
    
    html,
    body {
        font-family: $font-primary;
        font-size: 15px;
        color: #666;
    }
    textarea, html{
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            background-color: #eee; 
        }
        &::-webkit-scrollbar-thumb {
            background: #aaa; 
            border-radius: 10px;
        }
    }
    body.marged{
        padding-top: 80px;
        background: #fafafa;
    }
    .full-w{
        width: 100%;
    }
    .full-h{
        height: 100%;
    }
    .btn {
        @include transition();
        &.btn-wow {
            background: #fff;
            color: #2b8af7;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.151);
            &:hover {
                background: #2b8af7;
                color: #fff;
            }
            &.reverse{
                background: #2b8af7;
                color: #fff;
                &:hover{
                    background: #fff;
                    color: #2b8af7;
                }
            }
        }
        &.btn-blind {
            background: #ffb400;
            color: #fff;
            font-weight: bold;
            display: block;
            padding: 6px 20px;
            border-radius: 30px;
            &:hover {
                background: #eba400;
            }
        }
    }
    //SplideJs

    .splide__arrow{
        background: #fff;
        opacity: 1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
        svg{
            width: .9em;
            height: 9em;
        }
    }
     
    //input-box
    .input-box {
        input, textarea {
            border: none;
            background: transparent;
            width: 100%;
            display: block;
        }
        display: block;
        margin: 5px;
        border: 1px solid #eee;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        color: #666;
        &:focus-within {
            border-color: #ffb400;
            box-shadow: 0px 0px 10px #eee;
            @include transition();
        }
        //Pour les champs avec icône
        &.grid {
            display: grid;
            //Icône à droite
            &.right {
                grid-template-columns: 1fr 50px;
            }
            button{
                background: transparent;
                border: none;
                color: #666;
            }
        }
    }
    
    //radio input
    input[type="radio"].radio-wow {
        display: none;
        & + label {
            position: relative;
            padding-left: 1.3rem;
            line-height: 1em;
            &::before, &::after{
                display: block;
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                left: 0;
                content:'';
                width: 1rem;
                height: 1rem; 
                border-radius: 100%;
            }
            &::before{
                border: 2px solid #ccc;
                background: #fafafa;
            }
        }
        &:checked + label::before{
            border: 4px solid #ffb400;
        }
    }
    //Header
    header {
        nav{
            &.navbar-light{
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075) ;
                .nav-link{
                    color: #666 !important;
                }
                .nav-item{
                    &:hover,
                    &.active {
                        background-color: rgba(8, 8, 8, 0.055);
                    }
                }
            }
            .navbar-brand {
                font: {
                    family: $font-third;
                    weight: bolder;
                    size: 2em;
                }
            }
            .nav-item {
                padding: 3px 10px;
                margin: 0 10px;
                @include transition();
                &:hover,
                &.active {
                    background-color: rgba(255, 255, 255, .3);
                    border-radius: 50px;
                }
            }
            .navbar-toggler {
                color: #fff !important;
                border: none;
            }
            .navbar-button {
                .nav-btn-item {
                    display: inline-block;
                    margin: 0 10px;
                }
                .nav-login {
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    border-radius: 200px;
                    background: #fff;
                    padding: 5px;
                    font-size: 14px;
                    @include transition();
                    &:hover {
                        background: #2b8af7;
                        color: #fff;
                        .i {
                            background: #fff;
                            color: #2b8af7;
                        }
                    }
                }
                .i {
                    width: 30px;
                    height: 30px;
                    background: #2b8af7;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                span.text {
                    margin: auto;
                    padding: 0 5px;
                }
            }
            .mobile-btn-container {
                display: flex;
                align-items: center;
            }
            .mobile-nav-btn {
                justify-self: end;
                a,
                button {
                    color: #fff;
                }
                span {
                    margin: 0 10px;
                }
            }
        }
    }
    
    .house-item {
        padding: 0 10px;
        .link{
            display: block;
            border: 1px solid #f5f5f5;
            @include transition;
            &:hover{
                box-shadow: 0px 3px 10px 1px #f0f0f0;
                border-color: #ffb400;
            }
        }
        .item-info {
            padding: 10px 15px;
            position: relative;
            display: grid;
            grid-template-rows: 1fr 40px;
            h6 {
                span {
                    display: inline-block;
                    margin: 0 0px;
                    &.town {
                        font-weight: bold;
                    }
                    &.type {
                        &:before {
                            display: inline-block;
                            content: "•";
                            margin: 0 5px;
                        }
                    }
                }
            }
            .price{
                color: #008cff;
                right: 10px;
                bottom: 20px;
                margin: 10px 5px;
                
                font:{
                    size: 20px;
                    weight: bolder;
                }
            }
            .short-info{
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #eee;
                ul {
                    display: flex;
                    justify-content: space-between;
                }
                .more-info-shower{
                    border: none;
                    color: #666;
                }
            }
            .more-info{
                display: inline-block;
                padding: 10px 0;
                background: #fafafa;
                ul{
                    li{
                        &:before {
                            display: inline-block;
                            content: "•";
                            margin: 0 5px;
                            font-size: .7em;
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            justify-content: space-between;
            align-items: center;
        }
        .invisible-lg {
            display: none !important;
        }
    }
    
    @media (max-width: 992px) {
        nav {
            background-color: rgba(255, 255, 255, 0.288);
            .nav-item{
                margin: 5px 0 !important;
            }
            .navbar-toggler{
                .text{
                    font-size: 15px;
                }
            }
            &.navbar-light{
                .mobile-btn-container button{
                    color: #666 !important;
                }
            }
        }
        .invisible-sm {
            display: none !important;
        }
    }