<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trouvez la maison qui vous correspond sur Inzu. Découvrez plusieurs annonces immobilières à des prix incroyables dans votre ville, et dans plusieurs autres.">
    <title>Trouver une maison | Inzu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../splide-2.4.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.1-web/css/all.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
</head>
<style>
    body{
        height: 100%;
        overflow-y: hidden;
    }
</style>
<body class="marged">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="../index.html">inzu</a>
            <div class="invisible-lg mobile-btn-container" style="">
                <span class="mobile-nav-btn">
                    <span>
                        <button class="btn fa fa-search"></button>
                    </span>
                <span>
                        <button class="btn fa fa-user"></button>
                    </span>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="text">Menu</span> <span class="fa fa-bars"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./under_building.html">Trouver une maison</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                    <li class="nav-item invisible-lg">
                        <a class="nav-link" href="./under_building.html"><i class="fa fa-plus"></i> Déposer une annonce</a>
                    </li>
                </ul>
                <ul class="navbar-button invisible-sm">
                    <li class="nav-btn-item">
                        <button class="btn btn-wow" onclick="window.location.href='./under_building.html'"><i class="fa fa-plus"></i> Déposer une annonce</button>
                    </li>
                    <li class="nav-btn-item">
                        <button class="btn nav-login">
                            <span class="i"><i class="fa fa-user"></i></span>
                            <span class="text">Se connecter</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="filter-section">
        <div class="filter-nav container-fluid" style="margin-top: -4px;">
            <span class="input-box search-town">
                <input type="text" placeholder="Ville, Région">
                
            </span>
            <div class="full-w">
                <div class="filter-container">
                    <ul class="filter-list">
                        <li class="filter-item house-type-filter">
                            <input type="text" placeholder="Type" id="type-filter" name="type-filter">
                        </li>
                        <li class="filter-item house-price-filter">
                            <input type="text" placeholder="Prix" id="price-filter" name="price-filter">
                        </li>
                        <li class="filter-item house-area-filter">
                            <input type="text" placeholder="Surface">
                        </li>
                        <li class="filter-item house-beds-filter">
                            <input type="text" placeholder="Chambres">
                        </li>
                    </ul>
                    <div class="action-btn">
                        <button class="btn btn-wow reverse">Plus</button>
                        <button class="btn btn-wow reverse"><i class="fa fa-search"></i> Trouver</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="find-section py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 map-side">
                    <div class="map-container">
                        
                    </div>
                </div>
                <div class="col-lg-7 houses-side">
                    <div class="houses-container px-4 row">
                        <li class="col-lg-6 house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Kinshasa</span>
                                            <span class="type">Villa</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>4chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>1455m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-6 house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Kinshasa</span>
                                            <span class="type">Villa</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>4chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>1455m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-6 house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Kinshasa</span>
                                            <span class="type">Villa</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>4chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>1455m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-6 house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Kinshasa</span>
                                            <span class="type">Villa</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>4chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>1455m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/jquery.min.js"></script>
    <script src="../splide-2.4.12/dist/js/splide.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/carousel.js"></script>
    </body>
    </html>