<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trouvez la maison qui vous correspond sur Inzu. Découvrez plusieurs annonces immobilières à des prix incroyables dans votre ville, et dans plusieurs autres.">
    <title>Trouver une maison | Inzu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<style>
</style>
<body class="marged">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="../index.html">inzu</a>
            <div class="invisible-lg mobile-btn-container" style="">
                <span class="mobile-nav-btn">
                    <span>
                        <button class="btn fa fa-search"></button>
                    </span>
                <span>
                        <button class="btn fa fa-user"></button>
                    </span>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="text">Menu</span> <span class="fa fa-bars"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./under_building.html">Trouver une maison</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                    <li class="nav-item invisible-lg">
                        <a class="nav-link" href="./under_building.html"><i class="fa fa-plus"></i> Déposer une annonce</a>
                    </li>
                </ul>
                <ul class="navbar-button invisible-sm">
                    <li class="nav-btn-item">
                        <button class="btn btn-wow" onclick="window.location.href='./under_building.html'"><i class="fa fa-plus"></i> Déposer une annonce</button>
                    </li>
                    <li class="nav-btn-item">
                        <button class="btn nav-login">
                            <span class="i"><i class="fa fa-user"></i></span>
                            <span class="text">Se connecter</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="find_house_main_section">
        <div class="filter-section">
            <div class="filter-nav container-fluid">
                <span class="input-box search-town">
                    <input type="text" placeholder="Ville, Région">
                </span>
                <div class="full-w">
                    <div class="filter-container">
                        <ul class="filter-list">
                            <li class="filter-item house-type-filter">
                                <button data-popup="#house-type-popup" id="type-filter" class="openPopup">Type</button>
                                <div class="popup popup--type" id="house-type-popup" data-hidden=true>
                                   <form action="#">
                                       <ul>
                                            <li>
                                                <span>
                                                    <input type="radio" class="radio-wow" id="all" name="type" value="all">
                                                    <label for="all">Tous</label>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <input type="radio" class="radio-wow" id="simple" name="type" value="simple">
                                                    <label for="simple">Simple</label>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <input type="radio" class="radio-wow" id="appart" name="type" value="appart">
                                                    <label for="appart">Appartement</label>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <input type="radio" class="radio-wow" id="villa" name="type" value="villa">
                                                    <label for="villa">Villa</label>
                                                </span>
                                            </li>
                                       </ul>
                                   </form>
                                </div>
                            </li>
                            <li class="filter-item house-price-filter">
                                <button data-popup="#house-price-popup" id="price-filter" class="openPopup">Prix</button>
                                <div class="popup popup--price" id="house-price-popup" data-hidden=true>
                                    <form action="#" class="d-flex">
                                        <span class="input-box">
                                            <input type="number" name="price" min="100" id="min-price" placeholder="Min($)">
                                        </span>
                                        <span class="input-box">
                                            <input type="number" name="price" min="100" id="max-price" placeholder="Max($)">
                                        </span>
                                    </form>
                                </div>
                            </li>
                            <li class="filter-item house-area-filter">
                                <button data-popup="#house-area-popup" id="area-filter" class="openPopup">Surface</button>
                            </li>
                            <li class="filter-item house-beds-filter">
                                <button data-popup="#house-beds-popup" id="beds-filter" class="openPopup">Chambres</button>
                            </li>
                        </ul>
                        <div class="action-btn">
                            <button class="btn btn-wow reverse">Plus</button>
                            <button class="btn btn-wow reverse"><i class="fa fa-search"></i> Trouver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="find-section py-3">
            <div class="container">
                <div class="">
                   <div class="view-mode-change my-3">
                        <span class="view-mode-list-btn">
                            <input type="radio" name="view-mode" id="view-mode-list" checked="true">
                            <label for="view-mode-list"><i class="fa fa-list"></i> Liste</label>
                        </span>
                        <span class="view-mode-map-btn">
                            <input type="radio" name="view-mode" id="view-mode-map">
                            <label for="view-mode-map"><i class="fa fa-map"></i> Carte</label>
                        </span>
                   </div>
                    <div class="houses-side">
                        <div class="houses-container row">
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button onclick="window.location.href = '#0123abc'" class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span id="0123abc" class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-lg-3 house-item">
                                <a href="#" class="link">
                                    <div class="house-photos-slider splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img1.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img2.jpg">
                                                </li>
                                                <li class="splide__slide">
                                                    <img src="../assets/images/img3.jpg">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h6 class="house-title">
                                                <span class="town">Kinshasa</span>
                                                <span class="type">Villa</span>
                                            </h6>
                                            <span class="short-info">
                                                <ul>
                                                    <li class="room-nb">
                                                        <i class="fa fa-bed"></i>
                                                        <span>4chs</span>
                                                    </li>
                                                    <li class="bath-nb">
                                                        <i class="fa fa-bath"></i>
                                                        <span>2sdb</span>
                                                    </li>
                                                    <li class="feet">
                                                        <i class="fa fa-vector-square"></i>
                                                        <span>1455m<sup>2</sup></span>
                                                    </li>
                                                    <li>
                                                     <button class="more-info-shower fa fa-chevron-down"></button>
                                                    </li>
                                                </ul>
                                            </span>
                                            <span class="more-info" style="display: none;">
                                                <ul>
                                                    <li class="d-inline-block mr-2">Piscine</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                    <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                    <li class="d-inline-block mr-2">Jardin</li>
                                                    <li class="d-inline-block mr-2">Cheminée</li>
                                                    <li class="d-inline-block mr-2">Garage</li>
                                                </ul>
                                            </span>
                                        </div>
                                        <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/47fc11e9b5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/carousel.js"></script>
    <script>
        // let boxInfo = null;
        // document.querySelectorAll(".more-info-shower").forEach(a => {
        //     a.addEventListener('click', showInfo);
        // })
        // const showInfo = function(e){
        //     e.preventDefault();
        //     boxInfo = document.querySelector(e.target.getAttribute('href'));
        //     boxInfo.style.display = "block";
        // }
        document.querySelectorAll('.link').forEach(a => {
            a.addEventListener('click', (e) => {
                e.preventDefault();
            })
        });
        let openedPopup = null;
		let openPopup = function(e){
			e.preventDefault();
			if(openedPopup !== null)openedPopup.setAttribute('data-hidden', true);
			openedPopup = document.querySelector(e.target.getAttribute('data-popup'));
			openedPopup.setAttribute('data-hidden', false);
			// openedPopup.querySelector('button').addEventListener('click', closePopup);
			// console.log(openedPopup);
		}
		let closePopup = function(e){
			if(openedPopup===null) return;
			e.preventDefault();
			openedPopup.setAttribute("data-hidden", true);
			openedPopup = null;
		}
		let popupOpeners = Array.from(document.querySelectorAll(".openPopup"));
		popupOpeners.forEach(opener => {
			opener.addEventListener("click", openPopup);
		});
    </script>
    </body>
    </html>