<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trouvez la maison qui vous correspond sur Inzu. Découvrez plusieurs annonces immobilières à des prix incroyables dans votre ville, et dans plusieurs autres.">
    <title>Location Villa à KInshasa | Inzu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.1-web/css/all.min.css">
    <link rel="stylesheet" href="../splide-2.4.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="marged">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="../index.html">inzu</a>
            <div class="invisible-lg mobile-btn-container" style="">
                <span class="mobile-nav-btn">
                    <span>
                        <button class="btn fa fa-search"></button>
                    </span>
                <span>
                        <button class="btn fa fa-user"></button>
                    </span>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="text">Menu</span> <span class="fa fa-bars"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./under_building.html">Trouver une maison</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                    <li class="nav-item invisible-lg">
                        <a class="nav-link" href="./under_building.html"><i class="fa fa-plus"></i> Déposer une annonce</a>
                    </li>
                </ul>
                <ul class="navbar-button invisible-sm">
                    <li class="nav-btn-item">
                        <button class="btn btn-wow" onclick="window.location.href='./under_building.html'"><i class="fa fa-plus"></i> Déposer une annonce</button>
                    </li>
                    <li class="nav-btn-item">
                        <button class="btn nav-login">
                            <span class="i"><i class="fa fa-user"></i></span>
                            <span class="text">Se connecter</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="house-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main-section">
                        <div class="head">
                            <h5 class="my-4  house-title">Location villa - Kinshasa</h5>
                            <p class="house-sub-title">
                                <a href="./under_building.html">Appartement, </a>
                                <a href="./under_building.html">Congo RD, </a>
                                <a href="./under_building.html">Kinshasa</a>
                            </p>
                        </div>
                        <div id="house-picture-slider" class="splide house-photos-slider">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="../assets/images/img2.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../assets/images/img1.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../assets/images/img1.jpg">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="house-infos my-5">
                            <div class="infos-block description">
                                <h5 class="title">Description</h5>
                                <span class="content text">
                                    <p class="info-item">Construite en 2005, cette villa Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus tempora rem modi animi error itaque, fuga dolore ut dolorem debitis. Ducimus, hic labore distinctio minima vero nobis, eligendi optio numquam earum quas sapiente consequatur quibusdam aliquid praesentium sit sed quaerat! Officia maiores, velit rerum suscipit aspernatur eaque temporibus commodi quibusdam?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo rem error sed mollitia labore sequi magni ut nam, temporibus nulla ipsam, perspiciatis at. Quod quidem vero earum. Pariatur accusantium quidem earum labore ea quibusdam officia!</p>
                                </span>
                                <hr>
                            </div>
                            <div class="infos-block house-informations">
                                <h5 class="title">Informations</h5>
                                <span class="content text">
                                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae eos iste, dolorum quasi totam eum quis doloribus veniam itaque.</p>
                                   <ul class="infos-list">
                                        <li class="info-item">
                                            <span class="label">Adresse : 
                                            </span>
                                            <span>Av. Manseba 12, Kamalonda, Kinshasa, Congo RD</span>
                                            <span class="map-link mx-3">
                                                <a href="./under_building.html">Voir sur la carte</a>
                                            </span>
                                        </li>
                                        <li class="info-item">
                                            <span class="label">Année de construction : 
                                            </span>
                                            <span>2005</span>
                                        </li>
                                        <li class="info-item">
                                            <span class="label">Propriétaire : 
                                            </span>
                                            <span>Paul Walker</span>
                                        </li>
                                        
                                   </ul>
                                </span>
                                <hr>
                            </div>
                            <div class="infos-block rooms">
                                <h5 class="title">Pièces</h5>
                                <span class="content text">
                                    <ul class="infos-list">
                                        <li class="info-item">
                                            <span class="label living-room-nb">
                                                <img src="../assets/icons/Weekend.svg" alt="" style="width: 25px;">
                                                Salon(s) : 
                                            </span>
                                            <span class="value">1</span>
                                        </li>
                                        <li class="info-item bed-nb">
                                            <span class="label">
                                                <img src="../assets/icons/Door.svg" alt="" style="width: 25px;">
                                                Chambre(s) : 
                                            </span>
                                            <span class="value">5</span>
                                        </li>
                                        <li class="info-item kitchen-nb">
                                            <span class="label">
                                                <img src="../assets/icons/Spoon.svg" alt="" style="width: 25px;">
                                                Cuisine(s) : 
                                            </span>
                                            <span class="value">1</span>
                                        </li>
                                        <li class="info-item bath-room-nb">
                                            <span class="label">
                                                <img src="../assets/icons/Bathtub.svg" alt="" style="width: 25px;">
                                                Salle(s) de bain : 
                                            </span>
                                            <span class="value">2</span>
                                        </li>
                                        <li class="info-item bath-room-nb">
                                            <span class="label">
                                                <img src="../assets/icons/toilet_paper.svg" alt="" style="width: 20px;">
                                                Toilettes(s) : 
                                            </span>
                                            <span class="value">2</span>
                                        </li>
                                        <li class="info-item bath-room-nb">
                                            <span class="label">
                                                <img src="../assets/icons/washing_machine.svg" alt="" style="width: 25px;">
                                                Buanderie(s) : 
                                            </span>
                                            <span class="value">1</span>
                                        </li>
                                        <li class="info-item garage-nb">
                                            <span class="label">
                                                <img src="../assets/icons/Garage.svg" alt="" style="width: 25px;">
                                                Garage(s) : 
                                            </span>
                                            <span class="value">1</span>
                                        </li>
                                    </ul>
                                </span>
                                <hr>
                            </div>
                            <div class="infos-block other_details">
                                <h5 class="title">Autres details</h5>
                                <span class="content text">
                                <ul class="infos-list">
                                    <li class="info-item garden">
                                        <span class="">Jardin</span>
                                    </li>
                                    <li class="info-item fireplace">
                                        <span class="">Cheminée</span>
                                    </li>
                                    <li class="info-item pool">
                                        <span class="">Piscine</span>
                                    </li>
                                    <li class="info-item near-water">
                                        <span class="">Au bord de l'eau</span>
                                    </li>
                                </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 side-box-container">
                    <div id="side-box" class="side-box">
                        <div class="box price-box">
                            <p>Le loyer mensuel est de : </p>
                            <p class="house-price">860$</p>
                        </div>
                        <div class="box location-box">
                            <h5 class="head my-3">Contacter la proprièté</h5>
                            <div>
                                <form action="#">
                                    <span class="input-box">
                                        <input type="text" placeholder="Votre nom">
                                    </span>
                                    <span class="input-box">
                                        <input type="tel" placeholder="Téléphone">
                                    </span>
                                    <span class="input-box">
                                        <input type="email" placeholder="Email">
                                    </span>
                                    <span class="input-box">
                                        <textarea name="" id="" disabled cols="30" rows="4">Je suis intéressé par cette location et souhaite programmer une visite. Veuillez me faire savoir quand cela sera possible.
                                        </textarea>
                                    </span>
                                    <input type="submit" class="btn btn-blind full-w">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="near-houses"class="infos-block my-5 px-lg-5">
            <h5 class="title"><i class="fa fa-map-marker"></i> Les maisons à proximité</h5>
            <div id="house-slider" class="house-slider splide mt-5">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Kinshasa</span>
                                            <span class="type">Villa</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>4chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>1455m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">340$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Lubumbashi</span>
                                            <span class="type">Appartement</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>2chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>1sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>745m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">140$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Likasi</span>
                                            <span class="type">Maison</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>5chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>2sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>855m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">320$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                        <li class="splide__slide house-item">
                            <a href="#" class="link">
                                <div class="house-photos-slider splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../assets/images/img3.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img2.jpg">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../assets/images/img1.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h6 class="house-title">
                                            <span class="town">Lubumbashi</span>
                                            <span class="type">Appartement</span>
                                        </h6>
                                        <span class="short-info">
                                            <ul>
                                                <li class="room-nb">
                                                    <i class="fa fa-bed"></i>
                                                    <span>2chs</span>
                                                </li>
                                                <li class="bath-nb">
                                                    <i class="fa fa-bath"></i>
                                                    <span>1sdb</span>
                                                </li>
                                                <li class="feet">
                                                    <i class="fa fa-vector-square"></i>
                                                    <span>745m<sup>2</sup></span>
                                                </li>
                                                <li>
                                                 <button class="more-info-shower fa fa-chevron-down"></button>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="more-info" style="display: none;">
                                            <ul>
                                                <li class="d-inline-block mr-2">Piscine</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                                <li class="d-inline-block mr-2">Au bors de l'eau</li>
                                                <li class="d-inline-block mr-2">Jardin</li>
                                                <li class="d-inline-block mr-2">Cheminée</li>
                                                <li class="d-inline-block mr-2">Garage</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <span id="price" class="price ml-auto">140$ <sub>/mois</sub> </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container container">
            <div class="body py-5">
                <ul class="links-list">
                    <li class="list-head">A propos</li>
                    <li class="link-item"><a href="./about.html">Qui sommes-nous</a></li>
                    <li class="link-item"><a href="./about.html">Fonctionnement du site</a></li>
                    <li class="link-item"><a href="./about.html">Confidentialité</a></li>
                    <li class="link-item"><a href="./about.html">Conditions générales</a></li>
                </ul>
                <ul class="links-list">
                    <li class="list-head">Inzu</li>
                    <li class="link-item"><a href="../index.html">Accueil</a></li>
                    <li class="link-item"><a href="">Trouver une maison</a></li>
                    <li class="link-item"><a href="">Déposer une annonce</a></li>
                    <li class="link-item"><a href="./contact.html">Contact</a></li>
                </ul>
                <ul class="links-list">
                    <li class="list-head">Compte</li>
                    <li class="link-item"><a href="./views/login.html">Se connecter</a></li>
                    <li class="link-item"><a href="./views/sign_up.html">Créer un compte</a></li>
                    <li class="link-item"><a href="">Mon compte</a></li>
                    <li class="link-item"><a href="">Supprimer un compte</a></li>
                </ul>
            </div>
            <div class="feet py-3">
                <div>
                    <p>2020 Inzu - Tous droits reservés</p>
                </div>
                <div>
                    <ul class="social-links-list">
                        <li class="link-item"><a href=""><i class="fab fa-facebook"></i></a></li>
                        <li class="link-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="link-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/47fc11e9b5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="../splide-2.4.12/dist/js/splide.min.js"></script>
    <script src="../js/carousel.js"></script>
    <script src="../js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>